@import "../../Styles/globalStyles.scss";

.btnScrollTop {
  position: fixed;
  width: 50px;
  left: calc(100% - 9%);
  top: calc(100% - 22%);
  height: 50px;
  font-size: 4rem;
  cursor: pointer;
  animation: btnFade 0.5s ease-in-out;

  @media (max-width: $breakpoint-mb) {
    left: 50%;
    transform: translate(-50%);
  }
}

@keyframes btnFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
