@import "../../Styles/globalStyles.scss";

.container {
  width: 100%;
  min-height: 100vh;
  background: url("/imgs/body-background.png") center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #e9ecef;
  .headerContainer {
    @media (min-width: $breakpoint-desk) {
      max-width: $breakpoint-desk;
      margin: 0 auto;
    }
    .searchContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px 0;
      width: 100%;
      margin: 0 auto;

      & img {
        width: 150px;
      }

      @media (max-width: $breakpoint-mb-small) {
        flex-direction: column;

        & p {
          margin-top: 20px;
        }
      }

      .rightHeaderBox {
        display: flex;
        align-items: baseline;

        @media (max-width: $breakpoint-mb-small) {
          flex-direction: column;
        }
      }

      .logoutButton {
        margin-left: 20px;
        width: 100px;
        background: #000;
        font-size: small;
        color: white;
        border: 0 none;
        cursor: pointer;
        padding: 10px 5px;
        border-radius: 10px;

        @media (max-width: $breakpoint-mb-small) {
          margin: 20px auto auto;
        }
      }
      .logoutButton:hover {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #86888a;
      }
    }
  }

  .emptyComicsTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .loadButtonWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
  }
}
